@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
}

.item {
  width: 500px;
  height: 220px;
  padding: 10px;
  border: 5px solid rgb(139, 162, 226);
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 85px;
  padding-bottom: 30px;
  font-family: 'ProximaNova Thin'; 
  font-size: 30px;
}

.name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 900;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

@font-face {
  font-family: 'ProximaNova Thin';
  src: url(./fonts/Proxima_Nova_Thin.otf)
}

@media (max-width: 500px) 
 {
  .item {
    height: 300px;
  }
 }